<div class="alert alert-primary" role="alert">
  Um simples alerta primary. Olha só!
</div>
<div class="alert alert-secondary" role="alert">
  Um simples alerta secondary. Olha só!
</div>
<div class="alert alert-success" role="alert">
  Um simples alerta success. Olha só!
</div>
<div class="alert alert-danger" role="alert">
  Um simples alerta danger. Olha só!
</div>
<div class="alert alert-warning" role="alert">
  Um simples alerta warning. Olha só!
</div>
<div class="alert alert-info" role="alert">
  Um simples alerta info. Olha só!
</div>
<div class="alert alert-light" role="alert">
  Um simples alerta light. Olha só!
</div>
<div class="alert alert-dark" role="alert">
  Um simples alerta dark. Olha só!
</div>
<br>
<a class="waves-effect waves-light btn">button</a>
<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
<a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>
<br>
<ul class="collapsible">
  <li>
    <div class="collapsible-header">
      <i class="material-icons">filter_drama</i>
      First
      <span class="new badge">4</span></div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">place</i>
      Second
      <span class="badge">1</span></div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
</ul>
