<section>
  <article>
    <h3>Two-way data binding</h3>
    <div>
      <!-- erro no $event.target.value
      <input type="text"
        [value]="nome"
        (input)="nome = $event.target.value"
      > -->
      <input type="text"
        [value]="nome"
        (input)="nome = evento.value"#evento>
      <p>Você digitou: {{ nome }}</p>

      <input type="text"
        [ngModel]="nome"
        (ngModelChange)="nome = $event"
        >
      <p>Você atualizou o que digitou: {{ nome }}</p>
      <!-- importar o FormsModel no app.Module.ts para o two-way data-binding funcionar -->
      <input type="text" [value]="nome" [(ngModel)]="nome">
      <p>Você digitou {{ nome }}</p>
    </div>
    <div>
      <input type="text" [(ngModel)]="pessoa.nome">
      <input type="text" [(ngModel)]="pessoa.idade">
      <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de idade. </p>
    </div>
  </article>
</section>
